<html>
    <head>
        <title>Doctor Office</title>
    </head>
    <body>
        <h1>{{ doctor.getName }}</h1>

        {% if patients is not empty %}
            <p>Here are the patients:</p>
            <ul>
                {% for patient in patients %}
                    <li>{{ patient.getName }}</li>
                {% endfor %}
            </ul>
            <form action='/delete_patients/{{ doctor.getId }}' method='post'>
                <button type='submit'>Delete Patient List</button>
            </form>
        {% endif %}

        <h4>Add a patient</h4>

        <form action='/patients' method='post'>
            <input id="doctor_id" name="doctor_id" type="hidden" value="{{ doctor.getId() }}">
            <label for='patient_name'>Patient Name</label>
            <input id='patient_name' name='patient_name' type='text'>

            <button type='submit'>Add patient</button>
        </form>
        <p><a href='/'>Home</a></p>
    </body>
</html>
