<html>
    <head>
        <title>To Do List</title>
    </head>
    <body>
        <h1>Welcome to the Doctor Office</h1>

        <p>Add A New Doctor:</p>

        <form action="/doctors" method="post">
            <label for="doctor_name">Doctor Name:</label>
            <input id="doctor_name" name="doctor_name" type="text">

            <button type="submit">Add doctor</button>
        </form>

        {% if doctors is not empty %}
            <p>Here are all your doctors:</p>
            <ul>
                {% for doctor in doctors %}
                    <li><a href="/doctors/{{ doctor.getId }}">{{ doctor.getName }}</a></li>
                {% endfor %}
            </ul>
            <form action='/delete_doctors' method='post'>
                <button type='submit'>Delete Doctors</button>
            </form>
        {% else %}
          <p>There are no doctors yet!</p>
        {% endif %}

    </body>
</html>
