<html>
<head>
    <title>Doctor Office</title>
</head>
<body>
    <h1>Patients List</h1>
    {% if patients is not empty %}
        <h2>Here are all of your patients:</h2>
        <ul>
            {% for patient in patients %}
                <li>{{ patient.getName }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action='/patients' method='post'>
        <label for='name'>Patient Name</label>
        <input id='name' name='name' type='text'>
        <button type='submit'>Add Patient</button>
    </form>
    <form action='/delete_patients' method='post'>
        <button type='submit'>Delete Patient List</button>
    </form>
</body>
</html>
