<html>
    <head>
        <title>Doctor Office</title>
    </head>
    <body>
        <h1>{{ specialty.getName }}</h1>

        {% if doctors is not empty %}
            <p>Here are the doctors:</p>
            <ul>
                {% for doctor in doctors %}
                    <li>{{ doctor.getName }}</li>
                {% endfor %}
            </ul>
            <form action='/delete_doctors/{{ specialty.getId }}' method='post'>
                <button type='submit'>Delete Doctor List</button>
            </form>
        {% endif %}

        <h4>Add a doctor</h4>

        <form action='/doctors' method='post'>
            <input id="specialty_id" name="specialty_id" type="hidden" value="{{ specialty.getId() }}">
            <label for='doctor_name'>Doctor Name</label>
            <input id='doctor_name' name='doctor_name' type='text'>

            <button type='submit'>Add doctor</button>
        </form>
        <p><a href='/'>Home</a></p>
    </body>
</html>
